* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
body {
     /* font-family: cursive; */
     /* background-color: coral; */
     background-color: darkgray;
     background-position: center;
     background-size:cover;
     background-repeat: no-repeat;
     font-family: 'Gemunu Libre', sans-serif;
}
body a{
   text-decoration: none;
   color: black;
}
nav {
     display: flex;
     justify-content: space-around;
     align-items: center;
 }
 
 #navbar1 {
      position: relative;
 }
 
 nav ul {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
 }
 
 nav ul li {
     margin: 11px 0px;
     /* margin-right: 10px; */
     list-style: none;
     color: white;
 }
 
 nav ul li a {
     text-decoration: none;
     color: rgb(252, 252, 252);
     padding: 12px 20px;
     font-size: 20px;
 }
 
 nav ul li a:hover {
     background-color: rgb(243, 245, 245);
     border-radius: 5px;
     color: blueviolet;
 }
 
 nav::before {
     content: "";
     width: 100%;
     height: 100%;
     background-color: cadetblue;
     z-index: -1;
     position: absolute;
 }
 /* ===================================navbar================================== */

section#Home {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     position: relative;

}

section img {
     margin-top: 20px;

     border: 2ox solid black;
     width: 20%;
     /* height: 30%; */
     border-radius: 5%;
     transition: 1s ease;
}
section img:hover {
     cursor: pointer;
     transform: translate(0px, 250px) scale(2);
     opacity: 1;
}

#Home h1 {
     color: gray;
     text-decoration: underline;
     font-size: 3vw;
     /* line-height: 10px; */
     margin-top: 10px;
     transition: 0.5s ease-in 0.5s;
}
    #Home h1:hover{
          color: rgb(255, 255, 255);
          background-color: gray;
          cursor: pointer;
          border-radius: 10px;
          transform: rotate(360deg) translate(0px, 50px) scale(3);
          /* opacity: 0.5; */
     }


/* ========================= section "Home" end =============================== */
#bio {
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: left;
     width: 100%;
}

#bio details summary {
     font-size: 35px;
     list-style: none;
     color: gray;
     cursor: pointer;
     transition: 0.5 ease;
     
}
details>summary::-webkit-details-marker {
     display: none;
}

table {
     border-collapse: collapse;
     /* border: 2px inset; */
     /* table-layout: fixed; */
     border-radius: 20%;

}

td {
     width: 500px;
     text-decoration: none;
     border: 2px outset;
}

td a {

     text-decoration: none;

     color: black;
}

th {
     width: 500px;
     border: 2px outset;
}

/* th:hover {
     border: none;
     outline: none;
}

td:hover {
     border: none;
     outline: none;
} */

@media (max-width:324px) {
     th {
          display: inline-block;
          width: 100%;
     }

     td {
          display: inline-block;
          width: 100%;
     }

}

tr {
     background-color: rgb(224, 221, 221);
     border-bottom: 2px inset;
     margin: 30px;
     width: 100%;
     height: 50px;
     opacity: 0.5;
}

tr:hover {
     color: rgb(14, 14, 14);
     background-color: rgb(149, 150, 149);
     border: 2px outset;
     width: 100%;
     cursor: pointer;
     transform: scale(1);
     /* opacity: 0.5; */
}
     /* =====================Section Bio end ================================ */
     #contect {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: left;
          width: 100%;
          height: 100%;
     }
     #contect details summary{
          list-style: none;
          font-size: 30px ;
          color: gray;
          cursor: pointer;
     }
     i{
          font-size: 20px;
          font-family: 'fontawesome';
     }
     @media (max-width:768px) {
          #navbar{
               display: none;
          }
         #Home h1 { 
               font-size: 10vw;
              
          }
          #Home h1:hover{
               color: rgb(255, 255, 255);
               background-color: gray;
               cursor: pointer;
               border-radius: 10px;
               transform: rotate(360deg) translate(0px, 20px) scale(1.5);
               text-align: center;
               /* opacity: 0.5; */
          }
          #bio details summary{
               font-size: 10vw;
          }
          #contect details summary{
               font-size: 10vw;
               
          }
     }